.cta-button {
  background-color: $softRed;
  padding: 0.25rem 1.33rem;
  border-radius: 0.3125rem;
  transition: all 0.3s ease-in;
  &:hover {
    background-color: transparent;
    outline: 2px solid $softRed;
    box-sizing: border-box;
  }
}
.mobile-cta-button {
  border: 0.1875rem solid $white;
  width: 100%;
  text-align: center;
  padding: 0.375rem;
  border-radius: 0.3125rem;
  font-weight: 500;
  transition: 0.3s ease-in;
  &:hover {
    border-color: $softRed;
  }
}
.cta-button-newsletter {
  background-color: $softRed;
  color: $white;
  padding: 0.5625rem 0.75rem;
  border-radius: 0.3125rem;
  border: none;
  font-family: inherit;
  letter-spacing: 0.1rem;
  transition: all 0.3s ease-in;
  &:hover {
    background-color: $white;
    color: $softRed;
    outline: 0.125rem solid $softRed;
    box-sizing: border-box;
  }
}
@media screen and (min-width: 768px) {
  .cta-button {
    padding: 0.75rem 2rem;
  }
}
