.features-list {
  list-style-type: none;
}
.features-item {
  border-top: 1px solid $grayishBlue;
  cursor: pointer;
  transition: all 0.3s ease-in;
  &.active {
    font-weight: 500;
    &::after {
      content: "";
      width: 50%;
      height: 0.1875rem;
      background-color: $softRed;
      margin: auto;
      display: flex;
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
    }
    &:hover {
      color: $veryDarkBlue;
    }
  }
  &:last-child {
    border-bottom: 1px solid $grayishBlue;
  }
  &:hover {
    color: $softRed;
  }
}
@media screen and (min-width: 768px) {
  .features-list {
    border-bottom: 1px solid $grayishBlue;
  }
  .features-item {
    border: none;
    &.active {
      &::after {
        width: 100%;
      }
    }
    &:last-child {
      border-bottom: none;
    }
  }
}
