.features {
  overflow: hidden;
}
.features-list {
  list-style-type: none;
}
.features-item {
  border-top: 1px solid hsl(229, 8%, 60%);
  position: relative;
  cursor: pointer;
  transition: all 0.3s ease-in;
  &.active {
    font-weight: 500;
    &::after {
      content: "";
      width: 50%;
      height: 3px;
      background-color: hsl(0, 94%, 66%);
      margin: auto;
      display: flex;
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
    }
    &:hover {
      color: black;
    }
  }
  &:last-child {
    border-bottom: 1px solid hsl(229, 8%, 60%);
  }
  &:hover {
    color: hsl(0, 94%, 66%);
  }
}
@media screen and (min-width: 768px) {
  .features-list {
    border-bottom: 1px solid grey;
  }
  .features-item {
    border: none;
    &:last-child {
      border-bottom: none;
    }
  }
}
@media screen and (min-width: 992px) {
  .features-description {
    width: 60%;
    margin: auto;
  }
  .features-list {
    width: 70%;
    margin: auto;
  }
}
@media screen and (min-width: 1200px) {
  .features-description {
    width: 50%;
    margin: auto;
  }
}
