footer {
  background-color: $veryDarkBlue;
  .links {
    a {
      color: $grayishBlue;
      transition: all 0.3s ease-in-out;
      &:hover {
        color: $softRed;
      }
    }
  }
}
.footer-logo {
  width: 9.375rem;
  height: 1.5625rem;
  background: url("../images/footer-logo.svg");
  background-repeat: no-repeat;
}
.socials-icon {
  width: 1.5625rem;
  height: 1.5625rem;
  border-radius: 20%;
  transition: all 0.3s ease-in;
  &:hover {
    background-color: $softRed;
    border: 2px solid $softRed;
  }
}
.facebook {
  background: url("../images/icon-facebook.svg");
  background-repeat: none;
  background-position: center center;
  background-size: cover;
}
.twitter {
  background: url("../images/icon-twitter.svg");
  background-repeat: none;
  background-position: center center;
  background-size: cover;
}
