.newsletter {
  background-color: $softBlue;
  color: white;
  span {
    letter-spacing: 0.2rem;
  }
  h4 {
    font-size: 1.6rem;
  }
  input::placeholder {
    color: $grayishBlue !important;
    opacity: 0.8;
  }
}
@media screen and (min-width: 768px) {
  .newsletter {
    h4 {
      font-size: 2.1rem;
    }
  }
}
